
<div class="detail-container">
    <img [src]="item.url" />
    <div class="detail-item">
        <h1>{{item.name}}</h1>
        <div>
            <span class="one-item">{{item.price}} $</span>
            <br/>
            {{item.description}}

        </div>
        <div>
            <form class="form-margin one-item">
                <select class="number-input" #teams >
                    <option default value="1">1</option>
                    <option value=2 >2</option>
                    <option value=3 >3</option>
                    <option value=4 >4</option>
                    <option value=5 >5</option>
                    <option value=6 >6</option>
                    <option value=7 >7</option>
                    <option value=8 >8</option>
                    <option value=9 >9</option>
                    <option value=10 >10</option>
                </select>
            </form>
        </div>
        <button class="one-item" (click)="addToCart({howMany:teams.value,product:item})" >add to cart</button>
        <div class="back-link one-item">
            <a routerLink="/product-list">back to product list</a>
        </div>

    </div>
</div>